[submodule "vendor/binaryninja-api"]
	path = vendor/binaryninja-api
	url = https://github.com/Vector35/binaryninja-api.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/mem"]
	path = vendor/mem
	url = https://github.com/DatBrick/mem.git
